/* Put your CSS here */
.ember-application {
    margin: 20px;
}
.navbar-default {
    background-color: #352614;
    border-color: #352614;
    margin-bottom: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #352614;
    background-color: #DAD1B0;
}
.navbar-default .navbar-nav>li>a {
    color: #DAD1B0;
}
.navbar-brand {
    float: left;
    padding: 8px 10px;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
}

.product-count {
    padding: 50px 5px;
    font-size: 1.5em;
    display: inline;
    color: #847a64;
    font-weight: 300;
}
.meta-italic {
    color: #999999;
    font-style: italic;
    font-size: 0.9em;
}

/*li#reviews {*/
    /*max-height: 40px;*/
    /*overflow: hidden;*/
/*}*/

/*#reviews {*/
    /*max-height: 100%;*/
/*}*/